---
layout: default
---

<!-- Filtering pages ("where" liquid filters can't be used directly in for loops)-->
{% assign archived_versions = site.static_files | where_exp:"url", "url.path contains site.archives_path" %}
{% assign sorted_archived_versions = archived_versions | sort: "path" | reverse %}


<ul class="list-group">
    {% for url in sorted_archived_versions %}
    <li class="list-group-item"><a href="{{ url.path | relative_url }}">{{ url.path | remove: site.archives_path | remove: ".html"}}</a> </li>
    {% endfor %}
</ul>
